body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #25aff4;
}

.goboLink {
  display: block;
  width: 100%;
}
.goboImg {
  display: block;
  max-width: 80%;
  margin: auto;
}

.menu-bar {
  width: 100%;
  height: 62px;
  background-color: #ffffff;
}
.menu-holder {
  max-width: 980px;
  margin: auto;
  padding: 20px;
  position: relative;
}
.menu-item {
  float: right;
  padding: 0 10px;
  text-decoration: none;
  color: #000;
}
.menu-item:hover {
  color: #faa32d;
}
.menu-logo {
  font-weight: bold;
}
.menu-logo:hover {
  color: #000;
}

.SU-logo-menu {
  width: 120px;
  position: relative;
}
